<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .sidebar a:hover {
    background-color: #495057;
    text-decoration: none;
  }
</style>
<body>
    <!-- Sidebar -->
<nav class="col-md-2 d-none d-md-block sidebar bg-dark">
  <div class="position-sticky pt-3">
    <a href="/Dashboard" class="text-white d-block py-2 px-3">Dashboard</a>
    <a href="/products" class="text-white d-block py-2 px-3">Products</a>
    <a href="#" class="text-white d-block py-2 px-3">Orders</a>
    <a href="#" class="text-white d-block py-2 px-3">Users</a>
    <a href="#" class="text-white d-block py-2 px-3">Settings</a>
  </div>
</nav>



</body>
</html>